.example-container {
  width: 100%;
  height: calc(100% - 140px);
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height:  calc(100% - 40px);
  width: 50%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
  width: 15%;
}

.sideNavLink {
  padding: 5px;
  border-bottom: 1px solid black;
  a {
    text-decoration: none;
    color: black,
  }

  a:hover {
    color: rgb(189, 104, 104)
  }
}