.container {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-around;
    //  flex-direction: column-reverse;
}

.data-card {
    border: 1px solid black;
    min-width: 250px;
    margin: 10px;
}