<div class="container">
    <div class="profile-pic">
        <img src="../../../../assets/images/SaiVivek_pic_51828885(1).jpg" height="200px">
    </div>
    <div class="content">
        <h1 calss="head-line">Front End Developer</h1>
        <h3 class="summary">Looking for learning Opportunites</h3>
    </div>
    <div class="button-vertical">
        <button routerLink="details" class="side-nav-button" mat-raised-button color="primary">
            <mat-icon> person_pin</mat-icon>Home
        </button>
        <button routerLink="education" class="side-nav-button" mat-raised-button color="primary">
            <mat-icon>school</mat-icon>Education
        </button>
        <button routerLink="experience" class="side-nav-button" mat-raised-button color="primary">
            <mat-icon>work</mat-icon>Experience
        </button>
        <button class="side-nav-button" color="primary" mat-raised-button>
            <mat-icon>edit</mat-icon>Blog
        </button>
        <button routerLink="contact" class="side-nav-button" mat-raised-button color="primary">
            <mat-icon>perm_contact_calendar</mat-icon>Contact
        </button>
    </div>
</div>
